* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: whitesmoke;
  color: black;
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  justify-content: space-between;
  background: rgb(185, 162, 8);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  top: 0;
  left: 0;
}

.btn-light {
  background: #fff;
  color: #222;
  border: 1px solid whitesmoke;
  margin-left: 10px;
}

.btn:hover {
  background: rgb(236, 217, 95);
  color: #111;
  transition: 0.3s;
}
